@model SI656_Alquiler_Equipos.Models.Client

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4><strong>Registrar Cliente</strong></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Nombres" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.MotherLastName, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Apellido Materno" } })
            @Html.ValidationMessageFor(model => model.MotherLastName, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.FatherLastName, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Apellido Paterno" } })
            @Html.ValidationMessageFor(model => model.FatherLastName, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Genero" } })
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.DocumentNumber, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Numero Documento" } })
            @Html.ValidationMessageFor(model => model.DocumentNumber, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.DropDownList("DocumentTypeId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DocumentTypeId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Direccion" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-user", @placeholder = "Edad" } })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-user", @placeholder = "Telefono" } })
            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @type = "date", @class = "form-control form-control-user", @placeholder = "Fecha Registrado" } })
            @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.DropDownList("UserCreatedId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserCreatedId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            @Html.DropDownList("UserModifiedId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserModifiedId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-primary btn-user" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>
<br>
<br>
<br>