@model SI656_Alquiler_Equipos.Models.Equipment

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4><strong>Registrar Equipo</strong></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Codigo" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Nombre" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Descripcion" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
         
        </div>

        <div class="form-group">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-user", @placeholder = "Costo" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
                @Html.DropDownList("EquipmentStateId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipmentStateId, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
                @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-user", @placeholder = "Stock" } })
                @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
                @Html.DropDownList("EquipmentTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EquipmentTypeId, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
                @Html.EditorFor(model => model.CompanyId, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Compañia" } })
                @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
           
        </div>

        <div class="form-group">
                @Html.EditorFor(model => model.PriceByHour, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-user", @placeholder = "Precio por Hora" } })
                @Html.ValidationMessageFor(model => model.PriceByHour, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
                @Html.EditorFor(model => model.PriceByDay, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-user", @placeholder = "Precio por Dia" } })
                @Html.ValidationMessageFor(model => model.PriceByDay, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
                @Html.EditorFor(model => model.PriceByWeek, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-user", @placeholder = "Precio por Semana" } })
                @Html.ValidationMessageFor(model => model.PriceByWeek, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
                @Html.EditorFor(model => model.ExtraHour, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-user", @placeholder = "Hora Extra" } })
                @Html.ValidationMessageFor(model => model.ExtraHour, "", new { @class = "text-danger" })
           
        </div>

        <div class="form-group">
                @Html.EditorFor(model => model.ExtraDay, new { htmlAttributes = new { @type = "number", @class = "form-control form-control-user", @placeholder = "Dia Extra" } })
                @Html.ValidationMessageFor(model => model.ExtraDay, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
                @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @type = "text", @class = "form-control form-control-user", @placeholder = "Url Image" } })
                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar" class="btn btn-primary btn-user" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>

<br>
<br>
<br>
