@model SI656_Alquiler_Equipos.Models.Equipment

@{
    ViewBag.Title = "Delete";
}

<div>
    <h4><strong>Eliminar Equipo</strong></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceByHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceByHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceByDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceByDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceByWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceByWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentState.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentState.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentType.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary btn-user" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
<br>
<br>
<br>